.root {
    -fx-background-color: #666;
}

.choice-box {
    -fx-background-color: gray;
    -fx-font-family: "C059";
    -fx-mark-color: crimson;
}

.choice-box .context-menu {
    -fx-background-color: gray;
    -fx-padding: 5, 5, 5, 5;
}

.choice-box .menu-item {
    -fx-background-color: gray;
}

.choice-box .menu-item:focused {
    -fx-background-color: crimson;
}

.choice-box .menu-item > .label {
    -fx-font-family: "C059";
    -fx-text-fill: black;
    -fx-border-radius: 5;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "C059";
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "C059";
    -fx-background-color: gray;
}